* {
    margin: 0;
    padding: 0;
}


.hero-section {
    gap: 20px;
}

.header-section,
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding: 36px 15%;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
}

.hero-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

ul {
    list-style: none;
    margin: 0;
    gap: 50px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.button {
    background-color: #3882F6;
    padding: 5px 10px;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    padding: 36px 15%;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}